body {
    background-color: rgb(255, 255, 255);
    color: rgb(44, 46, 54);
    font-family: 'Open Sans', sans-serif;
}

header{
    background: rgb(234, 234, 234);
}

.titulo-principal{
    font-family: 'Minecraft', sans-serif;
    text-align: center;
    font-size: 3em;
    padding: 1em 0.5em 1em 0.5em;
    
}

.titulo-principal a{
    text-decoration: none;
    color: rgb(49, 142, 255);
}

.titulo-cabecalho {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
}

.titulo-cabecalho li{
    display: inline-block;
}

.titulo-cabecalho a{
    font-weight: 400;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

.copyright{ /*pagina de simbolo unicode*/
    color: black;
    font-size: 15px;
    padding: 30px 0;
}

footer{  
    text-align: center;
    background: rgb(234, 234, 234);
}

main h2{
    text-align: center;
    font-size: 5vw;
    font-weight: 600;
    margin: 2em 1vw 4em 1vw;
}

main ul{
    margin: 4vw 0 5vw 0;
    text-align: center;
}


main a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

main img{
    max-width: 100%;
    margin-bottom: 5vw;
}

main p  {
    font-size: 4vw;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2vw;
}

@media screen and (min-width:1024px) {
    .header{
        display: flex;
        justify-content: space-around;
    }

    .titulo-principal{
        font-family: 'Minecraft', sans-serif;
        text-align: center;
        font-size: 4em;
        padding: 1em 0.5em 1em 0.5em;
        
    }

    .titulo-cabecalho li{
        margin: 0em 2em 0 2em;
    }

    .div-cabecalho {
        display: flex;
        align-items:top;
        justify-content: space-around;
    }

    .titulo-cabecalho {
        margin-top: 1.5em;
    }

    .titulo-cabecalho a{
        font-weight: 600;
    }

    .titulo-cabecalho a:hover{
        color: rgb(10, 228, 10);
    }

    main p  {
        font-size: 1.5vw;
        text-align: center;
        font-weight: 600;
    }
    
    main h2{
        text-align: center;
        font-size: 2vw;
        font-weight: 600;
        margin: 2em 1vw 4em 1vw;
    }
    
    main ul{
        margin: 4vw 0 5vw 0;
        text-align: center;
    }

    main a{
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 5em;
    }
    
    main img{
        max-width: 40%;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    
    


}