body {
    background-color: rgb(255, 255, 255);
    color: rgb(44, 46, 54);
    font-family: 'Open Sans', sans-serif;
}

header{
    background: rgb(234, 234, 234);
}

.titulo-principal{
    font-family: 'Minecraft', sans-serif;
    text-align: center;
    font-size: 3em;
    padding: 1em 0.5em 1em 0.5em;
    
}

.titulo-principal a{
    text-decoration: none;
    color: rgb(49, 142, 255);
}

.titulo-cabecalho {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
}

.titulo-cabecalho li{
    display: inline-block;
}

.titulo-cabecalho a{
    font-weight: 400;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

.janelinha{
    height: 80vw;
    width: 100%;
    margin: 20vw 0 30vw 0;
}

h2{
    text-align: center;
    font-size: 5vw;
    font-weight: 600;
    margin: 5vw 1vw 0 1vw;
}

img{
    max-width: 100%;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

h3{
    font-size: 4.6vw;
    margin-bottom: 2vw;
    font-weight: 600;
    text-align: center;

}

main p{
    font-size: 4vw;
    text-align: center;
    margin: 5vw 1vw 0 1vw;
}


.copyright{ /*pagina de simbolo unicode*/
    color: black;
    font-size: 15px;
    padding: 30px 0;
}

footer{  
    text-align: center;
    background: rgb(234, 234, 234);
}

@media screen and (min-width:1024px) {
    .header{
        display: flex;
        justify-content: space-around;
    }

    .titulo-principal{
        font-family: 'Minecraft', sans-serif;
        text-align: center;
        font-size: 4em;
        padding: 1em 0.5em 1em 0.5em;
        
    }

    .titulo-cabecalho li{
        margin: 0em 2em 0 2em;
    }

    .div-cabecalho {
        display: flex;
        align-items: top;
        justify-content: space-around;
    }

    .titulo-cabecalho {
        margin-top: 1.5em;
    }

    .titulo-cabecalho a{
        font-weight: 600;
    }

    .titulo-cabecalho a:hover{
        color: rgb(10, 228, 10);
    }
    
    main{
        text-align: center;
    }

    .janelinha{
        width: 70%;
        height: 40em;
        margin: 6vw 0 10vw 0;
    }

    h2{
        text-align: center;
        font-size: 2vw;
        margin: 5vw 0 0 0;
    }

    img{
        max-width: 50%;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    h3{
        font-size: 1.6vw;
        margin-bottom: 1vw;
        font-weight: 600;
        text-align: justify;
        margin-left: 3vw;
    }

    main p{
        font-size: 1.2vw;
        text-align: justify;
        margin-left: 3vw;
    }
    
}